workflows/01_google_drive_upload.json
{
  "name": "SmartDocAI - Document Upload from Google Drive",
  "description": "Automatically index documents from Google Drive into SmartDocAI",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "triggerType": "watch",
        "folderId": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
        "resource": "drive"
      },
      "name": "Google Drive - New File Trigger",
      "type": "n8n-nodes-base.googleDriveFileCreate",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/api/document/upload",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "allowBinaryData": true
        }
      },
      "name": "HTTP - Upload to SmartDocAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [500, 300],
      "dependsOn": ["Google Drive - New File Trigger"]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{ $node[\"HTTP - Upload to SmartDocAI\"].json.status }}",
              "value2": "success",
              "operation": "equals"
            }
          ]
        }
      },
      "name": "Conditional - Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 300],
      "dependsOn": ["HTTP - Upload to SmartDocAI"]
    },
    {
      "parameters": {
        "channel": "C00000000",
        "text": "✅ Document indexed: {{ $node[\"HTTP - Upload to SmartDocAI\"].json.filename }}\nChunks created: {{ $node[\"HTTP - Upload to SmartDocAI\"].json.chunks_created }}"
      },
      "name": "Slack - Notify Success",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1000, 200],
      "dependsOn": ["Conditional - Check Success"]
    },
    {
      "parameters": {
        "channel": "C00000000",
        "text": "❌ Document upload failed: {{ $node[\"HTTP - Upload to SmartDocAI\"].json.detail }}"
      },
      "name": "Slack - Notify Error",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1000, 400],
      "dependsOn": ["Conditional - Check Success"]
    }
  ],
  "connections": {
    "Google Drive - New File Trigger": {
      "main": [
        [
          {
            "node": "HTTP - Upload to SmartDocAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Upload to SmartDocAI": {
      "main": [
        [
          {
            "node": "Conditional - Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conditional - Check Success": {
      "main": [
        [
          {
            "node": "Slack - Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Notify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
