workflows/02_slack_qna_bot.json
{
  "name": "SmartDocAI - Slack Q&A Bot",
  "description": "Answer questions from Slack using SmartDocAI",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "events": "message",
        "botFilter": false
      },
      "name": "Slack - Message Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const message = $node['Slack - Message Trigger'].json.text;\nconst question = message.replace(/@smartdoc/gi, '').trim();\nreturn {\n  question: question,\n  timestamp: $node['Slack - Message Trigger'].json.ts,\n  channelId: $node['Slack - Message Trigger'].json.channelId\n};"
      },
      "name": "Code - Extract Question",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [500, 300],
      "dependsOn": ["Slack - Message Trigger"]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/api/query",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "{{ $node['Code - Extract Question'].json.question }}"
            },
            {
              "name": "k",
              "value": "3"
            },
            {
              "name": "temperature",
              "value": "0.7"
            }
          ]
        }
      },
      "name": "HTTP - Query SmartDocAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [750, 300],
      "dependsOn": ["Code - Extract Question"]
    },
    {
      "parameters": {
        "range": "A1:E100",
        "spreadsheetId": "YOUR_SPREADSHEET_ID",
        "sheetNumber": 1
      },
      "name": "Google Sheets - Read Template",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [1000, 300],
      "dependsOn": ["HTTP - Query SmartDocAI"]
    },
    {
      "parameters": {
        "jsCode": "const api = $node['HTTP - Query SmartDocAI'].json || {};\nconst answer = String(api.answer || '').trim();\nconst sources = Array.isArray(api.sources) ? api.sources : [];\n\nconst isNoInfo =\n  !answer ||\n  /i don't have enough information/i.test(answer) ||\n  /khong co du thong tin|không có đủ thông tin/i.test(answer) ||\n  sources.length === 0;\n\nconst rows = $input.all().map((item) => item.json);\nconst activeRows = rows.filter((row) => {\n  const key = String(row.key || '').trim().toLowerCase();\n  const enabled = String(row.enabled || '').trim().toLowerCase();\n  return key === 'slack_reply' && enabled === 'true';\n});\n\nconst foundRow =\n  activeRows.find((row) => /da tim duoc|đã tìm được|found/i.test(String(row.intro || ''))) ||\n  activeRows[0] ||\n  {};\n\nconst notFoundRow =\n  activeRows.find((row) => /chua tim duoc|chưa tìm được|không tìm được|not found/i.test(String(row.intro || ''))) ||\n  activeRows[1] ||\n  activeRows[0] ||\n  {};\n\nconst selectedTemplate = isNoInfo ? notFoundRow : foundRow;\n\nconst messageParts = [selectedTemplate.intro || ''];\nif (!isNoInfo) {\n  messageParts.push(answer);\n}\nif (selectedTemplate.body) {\n  messageParts.push(selectedTemplate.body);\n}\nif (selectedTemplate.footer) {\n  messageParts.push(selectedTemplate.footer);\n}\n\nreturn {\n  question: $node['Code - Extract Question'].json.question,\n  timestamp: $node['Code - Extract Question'].json.timestamp,\n  finalText: messageParts.filter(Boolean).join('\\n\\n'),\n  hasAnswer: !isNoInfo,\n  rawAnswer: answer\n};"
      },
      "name": "Code - Build Reply From Template",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 300],
      "dependsOn": ["Google Sheets - Read Template"]
    },
    {
      "parameters": {
        "text": "{{ $node['Code - Build Reply From Template'].json.finalText }}",
        "threadTs": "{{ $node['Code - Build Reply From Template'].json.timestamp }}",
        "postAsUser": false
      },
      "name": "Slack - Reply with Sheet Template",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1500, 300],
      "dependsOn": ["Code - Build Reply From Template"]
    }
  ],
  "connections": {
    "Slack - Message Trigger": {
      "main": [
        [
          {
            "node": "Code - Extract Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Question": {
      "main": [
        [
          {
            "node": "HTTP - Query SmartDocAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Query SmartDocAI": {
      "main": [
        [
          {
            "node": "Google Sheets - Read Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read Template": {
      "main": [
        [
          {
            "node": "Code - Build Reply From Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Build Reply From Template": {
      "main": [
        [
          {
            "node": "Slack - Reply with Sheet Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
