workflows/03_daily_report.json
{
  "name": "SmartDocAI - Daily Q&A Report",
  "description": "Send daily Q&A report via email at 9 AM",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "trigger": "0 9 * * *"
      },
      "name": "Cron - Daily 9 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "range": "A2:B100",
        "spreadsheetId": "YOUR_SPREADSHEET_ID",
        "sheetNumber": 1
      },
      "name": "Google Sheets - Read Questions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [500, 300],
      "dependsOn": ["Cron - Daily 9 AM"]
    },
    {
      "parameters": {
        "nodeType": "loop"
      },
      "name": "Loop - Process Questions",
      "type": "n8n-nodes-base.loop",
      "typeVersion": 1,
      "position": [750, 300],
      "dependsOn": ["Google Sheets - Read Questions"]
    },
    {
      "parameters": {
        "url": "http://localhost:8001/api/query",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "{{ $item.json[0] }}"
            },
            {
              "name": "k",
              "value": "3"
            }
          ]
        }
      },
      "name": "HTTP - Query API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1000, 300],
      "dependsOn": ["Loop - Process Questions"]
    },
    {
      "parameters": {
        "jsCode": "return {\n  question: $item.json[0],\n  answer: $node['HTTP - Query API'].json.answer,\n  confidence: $node['HTTP - Query API'].json.confidence,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Code - Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1250, 300],
      "dependsOn": ["HTTP - Query API"]
    },
    {
      "parameters": {
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "method": "POST",
        "url": "http://api.airtable.com/v0/YOUR_BASE_ID/Results",
        "headers": {
          "Authorization": "Bearer YOUR_AIRTABLE_TOKEN"
        }
      },
      "name": "HTTP - Save to Airtable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1500, 300],
      "dependsOn": ["Code - Format Result"]
    },
    {
      "parameters": {
        "toEmail": "team@company.com",
        "subject": "📊 SmartDocAI Daily Q&A Report - {{ $node.NOW.iso }}",
        "emailType": "html",
        "htmlBody": "<h1>SmartDocAI Daily Q&A Report</h1>\n<p>Generated at: {{ $node.NOW.iso }}</p>\n<table border='1'>\n  <tr>\n    <th>Question</th>\n    <th>Answer</th>\n    <th>Confidence</th>\n  </tr>\n  <!-- Results will be appended here -->\n</table>"
      },
      "name": "Email - Send Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1750, 300],
      "dependsOn": ["HTTP - Save to Airtable"]
    }
  ],
  "connections": {
    "Cron - Daily 9 AM": {
      "main": [
        [
          {
            "node": "Google Sheets - Read Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read Questions": {
      "main": [
        [
          {
            "node": "Loop - Process Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop - Process Questions": {
      "main": [
        [
          {
            "node": "HTTP - Query API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Query API": {
      "main": [
        [
          {
            "node": "Code - Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Result": {
      "main": [
        [
          {
            "node": "HTTP - Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Save to Airtable": {
      "main": [
        [
          {
            "node": "Email - Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
